.wrapper{
	width: 100%;
}
.header{
	width: 100%;
	height: 600px;
	background: url(../img/car_bg.jpg) no-repeat;
	background-size: cover;
}
.logo strong{
	font-size: 48px;
	color: #fff;
}
.logo{margin-top: 100px;}
.descr p{color: #fff;}
.btn-success {
	width: 60%; 
	height: 60px;
	margin-top: 50px;
	font-size: 22px;
}
.btn-success a{
	text-decoration:none;
	color: inherit;
}
.appartment{
	margin-top: 50px;
}
.thumbnail{padding: 0}
.thumbnail > img{padding-top: 5px;}
.add-c, .more-c{height: 70px; width: 20%;}
.footer{
	width: 100%;
	height: 500px;
	background: #337ab7;
	margin-top: 50px;
}
.footer-logo{margin-top: 25px;}
.sign-in, .registr{border-radius: 5px;}
.sign-in{
	width: 40%;
	height: 50%;
	margin: auto;
	background: #fff;
}
.registr{
	width: 100%;
	height: 100%;
	margin: auto;
	background: #fff;
}
@media screen and (max-width: 600px){
	.sign-in{
		width: 100%;
		height: 50%;
		margin: auto;
		background: #fff;
	}
}